* {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: rows;
  width: 50%;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: rows;
  background-color: #E5EBEA;
  height: 20px;
  padding: 0.5rem;
  margin-bottom: 5px;
}

#content-wrapper {
  height: calc(100vh - 25px);
}
