/* .messages { */
/*   position: relative; */
/* } */
.other-user {
  border: 1px solid black;
  left: 0;
  margin-left: 5px;
}

.msg-wrapper {
  height: 45px;
  width: 100%;
  /* overflow: auto; */
  position: relative;
}
.msg {
  display: flex;
  border-radius: 0.5rem;
  padding: 8px;
  height: 20px;
  width: 30%;
  position: absolute;
}

.this-user {
  background-color: #2E83C4;
  border: 1px solid #C6B9C0;
  color: white;
  right: 0;
  margin-right: 5px;
}

#content-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 45px);
}
#messages {
  width: 100vw;
  overflow: scroll;
  height: 90%;
}

#messages::-webkit-scrollbar {
  display: none;
}

#messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

form {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
}

#imsginput {
  width: 60vw;
  margin: 1rem;
  height: 24px;
  border-radius: 3px;
  border-style: solid;
  padding: 0.3rem;
}

#isubmit {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-style: solid;
  background-color: #4998D4;
  color: white;
}
