<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title%}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style/base.css') }}" rel="stylesheet">
    {% block style_imports %}
    {% endblock %}
    {% block script_imports %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="{{ url_for('main.index')}}">Home</a></li>
        <div id="auth-links">
          {% if current_user.is_authenticated %}
            <li> <a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% else %}
            <li> <a href="{{ url_for('auth.login')}}">Login</a></li>
            <li> <a href="{{ url_for('auth.register')}}">Register</a></li>
          {% endif %}
        </div>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
