{% extends 'base.html' %}
{% block script_imports %}
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
  <script>
    var room_id = {{ id }}
  </script>
  <script src="{{ url_for('static', filename='/script/room.js') }}"></script>

{% endblock %}

{% block content %}
  <div id='messages'>

  </div>
  <form id="sendmsg">
    <input type="text" id="imsginput" name=bmsg" placeholder="message" >
    <input type="submit" name="bsubmit" value="Send">
  </form>
  <p> {{ user_id }}</p>
{% endblock %}
