{% extends 'base.html' %}

{% block style_imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/room.css')}} ">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}
{% block script_imports %}
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script>
    var room_id = {{ id }}
    var user_id = {{ user_id }}
  </script>
  <script src="{{ url_for('static', filename='script/room.js') }}"></script>
{% endblock %}

{% block content %}
<div id="content-wrapper">
  <div id='messages'>

  </div>
  <form id="sendmsg">
    <input type="text" id="imsginput" name="bmsg" placeholder="message" >
    <button type="submit" name="bsubmit" id="isubmit"><span class="material-symbols-outlined">send</span></button>
  </form>
  <!-- <p> {{ user_id }}</p> -->
  
</div>
  
{% endblock %}
